div.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-bottom {
  margin-bottom: 10px;
}

.flex1 {
  flex: 1;
}

div.users-table {
  height: 800px;
  overflow: auto;
}

#nationalities-select {
  width: 100% !important;
}
